@import url(../../App.css);

#topContainer {
  grid-area: b;
  width: 100%;
}
#topPhotoContainer {
  width: 100%;
  position: relative;
}
#mainPhoto img {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  width: minmax(100%, 375px);
}

#arrowButtons {
  position: absolute;
  bottom: 5px;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: 1rem;
  width: 112px;
  height: 56px;
  background-color: #000;
}

#leftArrow,
#rightArrow {
  transform: scale(0.75);
}
#topContainer h3 {
  font-size: var(--sub2);
  font-weight: var(--bold);
  line-height: 1.5rem;
}
#topContainer p {
  line-height: 1.5em;
  font-weight: var(--thin);
  font-size: var(--sub4);
}
#descriptiveText {
  padding: 2rem 2rem;
}

#descriptiveText h3 {
  margin: 1.25em 0 0 0;
  line-height: var(--LHH3);
  font-weight: var(--bold);
  font-size: var(--1);
  color: var(--black);
}
#descriptiveText p {
  margin: 1.45em 0 0 0;
  line-height: var(--LH);
  font-weight: var(--thin);
  font-size: var(--sub3);
  color: var(--darkGray);
}
#descriptiveText a {
  display: inline-block;
  margin: 4.45em 0 3.5em 0;

  text-decoration: none;
  font-size: var(--sub4);
  letter-spacing: var(--LSText);
  font-weight: var(--reg);
  color: var(--veryDarkGray);
}

#descriptiveText > svg {
  transform: scale(0.75) translateX(50%);
}

@media (min-width: 375px) {
  #topContainer {
    display: flex;
    width: 100%;
  }
  #topPhotoContainer {
    width: 65%;
  }
}
