@import url(../../App.css);

#topContainer {
  grid-area: a;
  width: 100%;
}
#topPhotoContainer {
  width: 100%;
  position: relative;
}
#mainPhoto img {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  width: minmax(100%, 375px);
}

#arrowButtons {
  position: absolute;
  bottom: 5px;
  right: 0;
  display: flex;
  fill: #fff;
}

#leftArrow,
#rightArrow {
  padding: 2rem;
  margin: 0;

  background-color: #000;
}
#topContainer h3 {
  font-size: var(--sub2);
  font-weight: var(--bold);
  line-height: 1.5rem;
}
#topContainer p {
  line-height: 1.5em;
  font-weight: var(--thin);
  font-size: var(--sub4);
}
#descriptiveText {
  padding: 2rem 1rem;
}

#descriptiveText h3 {
  font-weight: var(--bold);
  font-size: var(--0);
  color: var(--black);
}
#descriptiveText p {
  line-height: var(--LH);
  font-weight: var(--thin);
  font-size: var(--sub4);
  color: var(--darkGray);
}
#descriptiveText a {
  text-decoration: none;
  color: var(--veryDarkGray);
}
