@import url(../../App.css);

#topContainer {
  grid-area: b;
  width: 100%;
}
#topPhotoContainer {
  width: 100%;
  position: relative;
}
#mainPhoto {
  position: relative;
  grid-area: x;
}
#mainPhoto #photoDiv {
  display: inline-block;
  width: 100%;
  width: minmax(100%, 375px);
  object-fit: cover;
}
#mainPhoto::after {
  position: absolute;
  content: "room";
  top: 25px;
  left: calc(50% - var(--0));
  color: var(--white);
  font-size: var(--0);
  font-weight: var(--bold);
}

#arrowButtons {
  position: absolute;
  bottom: 5px;
  right: 0;

  display: flex;
}
#leftArrow,
#rightArrow {
  transform: scale(0.75);
}
#leftButton,
#rightButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: 56px;
  height: 56px;
  background-color: #000;
}
#leftButton:hover,
#rightButton:hover {
  background-color: var(--darkGray);
  cursor: pointer;
}
#topContainer h3 {
  font-size: var(--sub2);
  font-weight: var(--bold);
  line-height: 1.5rem;
}
#topContainer p {
  line-height: 1.5em;
  font-weight: var(--thin);
  font-size: var(--sub4);
}
#descriptiveText {
  padding: 2rem 2rem;
}

#descriptiveText h3 {
  margin: 1.25em 0 0 0;
  line-height: var(--LHH3);
  font-weight: var(--bold);
  font-size: var(--1);
  color: var(--black);
}
#descriptiveText p {
  margin: 1.45em 0 0 0;
  line-height: var(--LH);
  font-weight: var(--thin);
  font-size: var(--sub3);
  color: var(--darkGray);
}
#descriptiveText a {
  display: inline-block;
  margin: 4.45em 0 3.5em 0;

  text-decoration: none;
  font-size: var(--sub4);
  letter-spacing: var(--LSText);
  font-weight: var(--reg);
  color: var(--veryDarkGray);
}

#descriptiveText > svg {
  transform: scale(0.75) translateX(50%);
}

@media (min-width: 375px) {
  #topContainer {
    position: relative;
    display: grid;
    grid-template: 350px / 1.5fr 1fr;
    grid-template-areas: "x y";

    /* overflow: hidden; */
  }
  #topPhotoContainer {
    grid-area: x;
    height: 100%;
    width: 100%;

    object-fit: cover;
    align-self: end;
  }
  #mainPhoto{
    height: 100%;
  }
  #arrowButtons {
    bottom: 0px;
    right: -112px;
  }
  #descriptiveText {
    grid-area: y;
    height: 100%;
    padding-left: 3rem;
  }
  #descriptiveText h3 {
    font-size: var(--0);
  }
  #descriptiveText p {
    font-size: var(--sub4);
  }
  #descriptiveText a {
    margin-top: 20px;
  }
  #photoDiv {
    height: 100%;
  }
}





