@import url(../../App.css);

#bottomContainer {
  grid-area: c;
  display: flex;
  flex-direction: column;

  width: 375px;
}

#bottomText {
  padding: 2em 2em;
}

#bottomText h3 {
  margin: 2.25em 0 0 0;
  font-weight: var(--bold);
  font-size: var(--sub3);
  letter-spacing: 0.41em;
  color: var(--black);
}

#bottomText p {
  margin: 1.15em 0 2em 0;
  line-height: var(--LH);
  font-weight: var(--thin);
  font-size: var(--sub3);
  color: var(--darkGray);
}

@media (min-width: 375px) {
  #bottomContainer {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1.25fr 1fr;
    place-items: center;
  }
  #bottomText {
    padding: 1.75em;
  }
  #bottomText h3 {
    font-size: var(--sub4);
  }
  #bottomText p {
    font-size: 0.5rem;
  }
  #leftPic,
  #rightPic {
    width: 100%;
    align-self: flex-end;
    object-fit: cover;
  }
}
