@import url(../../App.css);

#bottomContainer {
  grid-area: c;
  display: flex;
  flex-direction: column;

  width: 375px;
}

#leftPic {
  /* background-image: url("../../images/image-about-dark.jpg"); */
  /* height: 200px; */
}

#bottomText {
  padding: 2em 2em;
}

#bottomText h3 {
  margin: 2.25em 0 0 0;
  font-weight: var(--bold);
  font-size: var(--sub3);
  letter-spacing: 0.41em;
  color: var(--black);
}

#bottomText p {
  margin: 1.15em 0 2em 0;
  line-height: var(--LH);
  font-weight: var(--thin);
  font-size: var(--sub3);
  color: var(--darkGray);
}

#rightPic {
  /* background-image: url("../../images/image-about-dark.jpg"); */
  /* height: 200px; */
}

@media (min-width: 375px) {
  #bottomText {
    padding: .5em;
  }
  #bottomText h3 {
    font-size: var(--sub4);
  }
  #bottomText p {
font-size: var(--sub4);
  }
  #bottomContainer {
    width: 100%;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
  }
  #leftPic,
  #rightPic {
    width: 100%;
  }
}
