@import "../../App.css";

#navContainer {
  grid-area: a;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#toggler {
  position: absolute;
  z-index: 2;

  height: 50px;
  width: 50px;
  opacity: 0;

  cursor: pointer;
}
#navContainer #hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  height: 60px;
  width: 60px;
}
#hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);

  transition: all 250ms ease;
}
#hamburger > div::before,
#hamburger > div::after {
  content: "";
  position: absolute;
  z-index: inherit;
  height: 2px;
  width: 100%;
  top: -10px;
  background-color: inherit;
}
#hamburger > div::after {
  top: 10px;
}

#navMenu {
  display: none;
  top: 0%;
  left: 0%;
}

#navBar {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;

  margin: 0;
  background-color: var(--white);
}
#navBar li {
  display: flex;
  list-style: none;
}

#navBar li a {
  padding: 0 1.1em 0 1.5em;
  text-decoration: none;
  font-weight: var(--reg);
  font-size: var(--sub3);
  color: var(--veryDarkGray);
}

/* states */

#toggler:checked + #hamburger > div {
  transform: rotate(135deg);
  transition: all 250ms ease;
}
#toggler:checked + #hamburger > div::before,
#toggler:checked + #hamburger > div::after {
  color: var(--darkGray);
  top: 0;
  transform: rotate(90deg);
  transition: all 250ms ease;
}
#toggler:checked:hover + #hamburger > div {
  transform: rotate(220deg);
  transition: all 250ms ease;
}

#toggler:checked ~ #hamburger div {
  background-color: var(--darkGray);
  transition: all 100ms;
}
#toggler:checked ~ #navMenu {
  display: block;
  transition: all 250ms ease;
}

@media (min-width: 375px) {
  #navBar {
    background-color: rgba(0, 0, 0, 0);
    width: 40%;
    position: absolute;
    justify-content: center;
  }
  #navBar li a {
    font-size: var(--sub4);
    color: var(--white);
  }
  #toggler,
  #hamburger,
  #hamburgerLinesAreHere {
    display: none;
    visibility: hidden;
  }
  #navBar::after {
    position: absolute;
    content: "room";
    top: 20px;
    left: calc(10% - var(--0));
    color: var(--white);
    font-size: var(--0);
    font-weight: var(--bold);
    z-index: 5;
  }
}
