:root {
  /* Colors */
  --darkGray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);

  /* font sizes */
  --sub4: clamp(0.63rem, 0.64rem + -0.04vw, 0.61rem);
  --sub3: clamp(0.76rem, 0.76rem + 0.02vw, 0.77rem);
  --sub2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --sub1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);

  /* font weights */
  --thin: 500;
  --reg: 600;
  --bold: 700;

  /* line height */
  --LH: 1.63em;
  --LHH3: 1.15em;

  /* letter spacing */
  --LSText: 0.85em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
}

#appWrap {
  display: grid;
  position: relative;
  grid-template: auto auto auto / calc(50vw - 187.5px) 375px auto;

  grid-template-areas:
    ". a ."
    ". b ."
    ". c .";
}

@media (min-width: 375px) {
  #appWrap {
    grid-template: 10px auto auto /  1000px ;
    gap: 0;
    grid-template-areas:  
      " a "
      " b "
      " c " ;
  }
}

